#!/bin/bash

pxySrv=127.0.0.1:8118

function shpxy(){
	case "$1" in 
	   "on") export http_proxy="https://$pxySrv" https_proxy="http://$pxySrv"; 
	         export HTTP_PROXY="https://$pxysrv" HTTPS_PROXY="http://$pxySrv" ;;
	   "off") unset http_proxy https_proxy; export -n http_proxy https_proxy;
	          unset HTTP_PROXY HTTPS_PROXY; export -n HTTP_PROXY HTTPS_PROXY;;
           "show") echo -e "${http_proxy:+http_proxy=${http_proxy}\n}${https_proxy:+https_proxy=${https_proxy}}" ;;
	   *) echo "Usage: funcname <on|off|show>";;
	esac
}


export -f shpxy
